.mat-dialog-content {
    overflow: unset !important;

}

.dialog-container {
    position: relative;
    //width: 80%;
}

.mat-progress-bar {

position: absolute;
left: -24px;
right: -24px;
top: -24px;
width: calc(100% + 48px);
}

mat-form-field {
    width: 100%;
}