<div class="dialog-container">
    <!--<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>-->
    <h1 mat-dialog-title>Edit address</h1>
        <div mat-dialog-content>


    
                <mat-form-field appearance="outline">
                    <mat-label>Street + House No.</mat-label>
                    <input [disabled]="loading" [(ngModel)]="user.street" matInput placeholder="Street + House No.">
                </mat-form-field>
    
        
    
            
                <mat-form-field appearance="outline">
                    <mat-label>Zip Code</mat-label>
                    <input [disabled]="loading" [(ngModel)]="user.zipCode" matInput placeholder="Zip Code">
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>City</mat-label>
                    <input [disabled]="loading"  [(ngModel)]="user.city" matInput placeholder="City">
                </mat-form-field>
            </div>
    
            <div mat-dialog-actions>
                <button [disabled]="loading" (click)="dialogRef.close()">Cancel</button>
                <button [disabled]="loading" (click)="saveUser()" mat-button>Save</button>
            </div>
        
    </div>
