/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mr-16 {
    margin-right: 16px;
}

.full-width {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
}



.mr-32 {
    margin-right: 16px;
}


.ml-32 {
    margin-left: 16px;
}

.mat-dialog-container {
    width: 80% !important;
}